@media screen and (min-width: 600px){
    .contenido .navbar{
        display: none;
    }
    .cuerpo{
        grid-template-columns: 70px 1fr;
        grid-template-rows: 100%;
        grid-template-areas: "menues  contenido";
    }
    .menu{
        grid-area: menues;
        width: 100%;
    }
    .menu{
        height: auto;
        color: white;
        padding: 50% 15%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        &__decoration{
            display: flex;
            align-items: center;
            span{
                width: 7px;
                height: 7px;;
                border-radius: 50px;
                margin-left: 4px;
                &:nth-child(0n+1){
                    background-color: #ff5f56;
                }
                &:nth-child(0n+2){
                    background-color: #ffbd2e;
                }
                &:nth-child(0n+3){
                    background-color: #27c93f;
                }
            }
        }
        &__logo{
            width: 100%;
            margin-top: 10px;
            img{
                width: 100%;
                margin: 0;
                padding: 0;
            }
            p{
                font-size: map-get($size, normal);
                color: map-get($color, cuarto);
            }
        }
        &__perfil{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            div{
                width: 2.7rem;
                height: 2.7rem;
                background-color: rgba(146, 146, 146, 0.082);
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 2.7rem;
                    height: 2.7rem;
                    border-radius: 50px;
                }
            }
            .menu__usuario--nombre{
                font-size: map-get($size, sm);
                color: map-get($color, dark);
                margin-top: 10px;
            }
            article{
                height: 3 rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin-left: 10px;
                p{
                    height: auto;
                    padding: 0;
                    margin: 0;
                    line-height: normal;
                }
            }
        }
        &__usuario{
            font-size: map-get($size, normal);
        }
        &__rol{
            font-size: map-get($size, sm);
        }
        &__opciones{
            width: 100%;
            padding-top: 25%;
            display: flex;
            align-items: center;
            justify-content: start;
            flex-direction: column;
            font-size: map-get($size, normal);
            color: map-get($color, dark);
            a{
                width: 40%;
            }
            img{
                width: 100%;
                margin-bottom: 30px;
                cursor: pointer;
                transition: filter 1s ease;
                &:hover{
                    filter: invert(53%) sepia(97%) saturate(6314%) hue-rotate(308deg) brightness(96%) contrast(86%);
                }
            }
            .active{
                filter: invert(53%) sepia(97%) saturate(6314%) hue-rotate(308deg) brightness(96%) contrast(86%);
            }
        }
    }
    .contenido{
        padding: 2% 5%;
    }
    .dashboard{
        height: 100%;
        width: 100%;
        &__calendario{
            overflow-x: hidden;
            .dashboard__estadisticas{
                height: 100%;
                width: 58%;
            }
            .dashboard__notificaciones{
                height: 100%;
                width: 37%;
            }
        }
    }
    .tareas__operaciones{
        padding: 10px 0;
        flex-direction: row;
        > * {
            margin: 0 20px;
        }
    }
    .tarea__item{
        margin: 10px auto;
        width: 100%;
        height: 8rem;
        padding: 0 2.5%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:    "estado         estado  opciones  "
                                "nombre         nombre  prioridad "
                                "colaboradores  fecha   fecha     ";
        &::before{
            height: 8rem;
        }
    }
    .tarea__fecha{
        justify-self: right;
    }
    .tarea__modificar{
        width: 540px;
    }

    //Layout Pagina Principal

    .encabezado{
        &__fondo{
            width: 30%;
        }
        img{
            opacity: 1;
        }
        &__content{
            text-align: left;
            width: 100%;
            padding: 4%;
            h1{
                font-size: 5rem;
                margin-top: 20px;
            }
            p{
                margin: 40px 0;
                padding-right: 30%;
            }
            a{
                font-size: 1.3rem;
                padding: 15px 30px;
            }
        }
    }

}
@media screen and (min-width: 992px){
    .contenido{
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 7px; 
            height: 8px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 4px;
        }
        &::-webkit-scrollbar-thumb {
            background: map-get($color, segundo);
            border-radius: 4px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: transparent;
        }
    }
    .navbar__index .navbar__icon{
        display: none;
    }
    .navbar .offcanvas-end{
        .offcanvas-body{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            button{
                margin-left: 80%;
            }           
            div{
                display: none;
            }
        }
    }
    .dashboard{
        &__calendario{
            .dashboard__estadisticas{
                width: 68%;
            }
            .dashboard__notificaciones{
                width: 27%;
            }
        }
    }
    .tareas__categorias{
        display: flex;
    }
    .tarea__interlineado{
        display: block;
    }
    .tarea__item{
        margin: 10px auto;
        height: 42.5px;
        border-radius: 10px;
        padding: 0;
        grid-template-columns: 20% 20% 15% 15% 20% 10%;
        grid-template-rows: 1fr;
        grid-template-areas: "nombre estado colaboradores fecha prioridad opciones";
        &::before{
            top: 0;
            left: 0;
            height: 42.5px;
        }
        > * {
            padding: 7.5px;
            width: 100%;
            height: 100%;
            background-color: map-get($color, blanco);
            align-items: center;
            display: flex;
            &:nth-child(n + 2)::before{
                content: ' ';
                position: absolute;
                background-color: map-get($color, transparentLight);
                margin-left: -7.5px;
                height: 42.5px;
                width: 0.005%;
            }
        }

    }
    .tarea__estado{
        justify-self: center;
        > * {
            margin: auto;
        }
    }
    .tarea__opciones{
        justify-self: center;
        border-radius: 0 10px 10px 0;
        i{
            font-size: 1.4rem;
            margin: auto;
            cursor: pointer;
        }
    }
    .tarea__nombre{
        justify-self: left;
        padding-left: 10%;
        border-radius: 10px;
    }
    .tarea__fecha{
        justify-self: center;
        > * {
            margin-left: 20px;
        }
    }
    .tarea__colaboradores{
        justify-self: center;
        > * {
            margin-left: 20px;
        }
    }
    .tarea__prioridad{
        justify-self: center;
        > * {
            margin: auto;
        }
    }

    //Layout pagina principal

    .navbar__index .navbar{
        height: auto;
        padding: 25px 50px;
        &-brand{
            img{
                height: 70px;
            }
        }
    }
}