.tareas__operaciones{
    width: 100%;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// Boton crear tarea
.tarea__crear{
    width: 175px;
    height: 60px;
    background-color: map-get($color, blanco);
    border-radius: 50px;
    box-shadow:  6px 6px 14px #e7e9ed,
                        -6px -6px 14px #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 1s;
    &:hover{
        transform: scale(1.1);
    }
    i{
        font-size: 1.5rem;
        color: map-get($color, dark);
        margin-right: 8px;
    }
    p{
        color: map-get($color, dark);
        font-size: map-get($size, normal);
        font-weight: map-get( $weight , 500 );
        margin: 0;
        padding: 0;
    }
}

// Filtro tareas

.tareas__buscar{
    height: auto;
    input{
        border-radius: 50px;
        border: 1px solid map-get($color, blanco);
        padding-left: 45px;
        width: 200px;
        height: 40px;
        //transition: all 2s ease;
        &:focus{
            outline: 0 none;
            border: 1px solid map-get($color, primero);
            //width: 200px;
        }
        //&:focus ~ i {
        //    left: -85%;
        //}
        &::placeholder{
            color: map-get($color, primero);
        }
    }
}

.chart-container{
    padding: 0px;
    #graficoLinea{
        padding: 20px;
    }
    #graficoDoughnut{
        padding: 10px;
    }
}

// Formulario de ingreso

.modal-login{
    .modal-body{
        padding: 10% 5%;
        .modal-encabezado{
            padding: 10% 5% 0%;
            h3{
                color: map-get($color , segundo );
                text-align: center;
            }
            button{
                color: map-get($color , segundo );
                position: absolute;
                top: 10%;
                right: 10%;
            }
        }
        div{
            margin: 40px auto;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            &:nth-child(-n+2){
                input{
                    width: 70%;
                    height: 40px;
                    padding: 5%;
                    color: map-get($color, segundo);
                    border: 1px solid map-get($color, segundo);
                    border-radius: 15px;
                    &:focus{
                        color: map-get($color, segundo);
                        outline: 1px solid map-get($color, segundo);
                    }
                }
                label{
                    padding: 4px 6px;
                    position: absolute;
                    margin-top: -45px;
                    color: map-get($color, segundo);
                    background-color: map-get($color , blanco);
                }
            }
            &:nth-child(0n+3){
                display: flex;
                align-items: center;
                justify-content: center;
                label{
                    color: map-get($color, segundo);
                }
                input{
                    width: 20px;
                    height: 20px;
                    margin-left: 10px;
                    color: map-get($color, segundo);
                    border: 1px solid map-get($color, segundo);
                    border-radius: 15px;
                    background-color: transparent;
                    &:focus{
                        color: map-get($color, segundo);
                        outline: 1px solid map-get($color, segundo);
                        background-color: transparent;
                    }
                }
            }
        }
        .modal-pie{
            display: flex;
            align-items: center;
            justify-content: center;
            button{
                color: map-get($color , blanco );
                background-color: map-get($color , segundo );
                border-color: map-get($color , segundo );
                border-radius: 0px;
            }
        }
    }
}