body{
    height: 100vh;
    display: grid;
    grid-template-columns: 7% 93%;
    grid-template-rows: 1fr;
    grid-template-areas: "menues    contenido";
}
.menu{
    grid-area: menues;
    width: 100%;
    box-shadow:  6px 6px 14px #e7e9ed,
                -6px -6px 14px #ffffff;
}
.contenido{
    grid-area: contenido;
}
.contenido{
    padding: 20px;
    display: grid;
    grid-template-columns: 78% 20%;
    grid-template-rows: 30% 46% 20%;
    grid-template-areas:"calendario  calendario    "
                        "tareas      usuarios      "
                        "tareas      notificaciones";
    background-color: map-get($color, light);
    gap: 2%;
}
.calendario{
    grid-area: calendario;
    background-color: map-get($color, blanco);
    width: 100%;
    border-radius: 20px;
}
.tareas{
    margin-top: 50px;
    grid-area: tareas;
    width: 100%;
    overflow-y: auto;
    background-color: map-get($color, light);
    &::-webkit-scrollbar {
        width: 7px; 
        height: 8px;  
    }
    &::-webkit-scrollbar-track {
        background: map-get($color, light); 
        border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background: map-get($color, primero);
        border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: map-get($color, primero);
    }
}
.usuarios{
    grid-area: usuarios;
    color: map-get($color, dark);
    width: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 7px; 
        height: 8px;  
    }
    &::-webkit-scrollbar-track {
        background: map-get($color, light); 
        border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background: map-get($color, primero);
        border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: map-get($color, primero);
    }
    div{
        width: 100%;
        height: auto;
        margin: 0;
        padding: 5%;
        .usuarios--perfil{
            display: flex;
            margin: 10px 0;
            padding: 10px;
            width: 100%;
            align-items: center;
            background-color: map-get($color, blanco);
            border-radius: 10px;
            box-shadow:  6px 6px 14px #e7e9ed,
                        -6px -6px 14px #ffffff;
            img{
                width: 3rem;
                height: 3rem;
            }
            article{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                padding: 10px 0 0 10px;
                .usuario__perfil--nombre{
                    font-size: map-get($size, normal);
                    padding: 0;
                    margin: 0;
                }
                .usuario__perfil--rol{
                    font-size: map-get($size, sm);
                    padding: 0;
                    margin: 0;
                }
            }
        }  
    }
}
.notificaciones{
    grid-area: notificaciones;
    width: 100%;
}