.tarea__modificar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: map-get($color, light);
    border-radius: 10px;
    width: 90%;
    height: 90vh;
    padding: 20px;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 7px; 
        height: 8px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background: map-get($color, segundo);
        border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: map-get($color, segundo);
    }
    p{
        color: map-get($color, dark);
        margin-left: 10%;
    }
    > * {
        display: block;
    }
    input{
        color: map-get($color, dark);
        border: 1px solid map-get($color, segundo);
        border-radius: 15px;
        &:focus{
            color: map-get($color, dark);
        }
    }
    textarea{
        color: map-get($color, dark);
        border: 1px solid map-get($color, segundo);
        border-radius: 15px;
        resize: none;
        &:focus{
            color: map-get($color, dark);
        }
    }
}
.tarea__modificar--nombre{
    background-color: transparent;
    outline: none;
    border-color: transparent;
    width: 90%;
    padding: 15px 15px;
    margin: 30px auto;
}
#placeholder, #placeholder2, #placeholder3, #placeholder4, #placeholder5{
    position: absolute;
    top: 35px;
    left: 15%;
    width: auto;
    padding: 5px;
    background-color: map-get($color, light);
    color: map-get($color, segundo);
}
#placeholder2{
    top: 115px;
    left: 5%;
}
#placeholder3{
    top: 305px;
}
#placeholder4{
    top: 508px;
    left: 5%;
}
#placeholder5{
    top: 700px;
    left: 5%;
}
.tarea__modificar--descripcion{
    @extend .tarea__modificar--nombre;
    height: 175px;
    width: 90%;
}
.tarea__modificar--estado, .tarea__modificar--prioridad{
    width: 90%;
    padding: 20px;
    margin: 30px auto;
    border: 1px solid map-get($color, segundo);
    border-radius: 15px;
    > *{
        margin: 5px 0;
    }
    label{
        display: inline-block;
        cursor: pointer;
        color: map-get($color, dark);
        position: relative;
        width: 100%;
        padding: 5px auto;
        font-size: 1em;
        border-radius: 5px;
        transition: all .3s ease;
    }
    input[type="radio"]{
        display: none;
        &:checked + label:before{
            display: none;
        } 
        &:checked + label{
            padding: 10px 30px;
            width: 100%;
            border-radius: 10px;
            color: map-get($color, blanco);
        }
    }
    #terminado:checked + label{
        background-color: map-get($color, quinto);
    }
    #enProceso:checked + label{
        background-color: map-get($color, sexto);
    }
    #comenzar:checked + label{
        background-color: map-get($color, segundo);
    }
    #alta:checked + label{
        background-color: map-get($color, cuarto);
    }
    #media:checked + label{
        background-color: map-get($color, tercero);
    }
    #baja:checked + label{
        background-color: map-get($color, primero);
    }
}

.tarea__modificar--profiles{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 40px auto;
    padding: 20px 0;
    border: 1px solid map-get($color, segundo);
    border-radius: 15px;
    li{
        margin: 20px 40px;
        width: 100%;
        display: flex;
        align-items: center;
        .bx-user-minus{
            font-size: 1.6rem;
            margin: 0 20px 0 10px;
            padding-top: 10px;
            color: map-get($color, segundo);
            transition: color 1s ease;
            cursor: pointer;
            &:hover{
                color: map-get($color, cuarto);
            }
        }
        img{
            width: 3rem;
            height: 3rem;
            cursor: pointer;
        }
        article{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            padding: 10px 0 0 10px;
            .tarea__perfil--nombre{
                font-size: map-get($size, normal);
                padding: 0;
                margin: 0;
            }
            .tarea__perfil--rol{
                font-size: map-get($size, sm);
                padding: 0;
                margin: 0;
            }
        }
    }
}
.tarea__añadir--colaboradores{
    margin-top: 30px;
    display: flex;
    align-items: center;
    font-size: map-get($size, normal);
    cursor: pointer;
    transition: all 1s ease;
    i{
        font-size: 1.5rem;
        margin: 0 15px 0 7.5px;
    }
    &:hover{
        color: map-get($color, quinto);
    }
}
.aparecer{
    display: block;
}
.desaparecer{
    display: none;
}

//Crear

.tarea__crear{
    margin: 40px auto 20px;
    width: 175px;
    height: 60px;
    background-color: map-get($color, blanco);
    border-radius: 50px;
    box-shadow:  6px 6px 14px #e7e9ed,
                        -6px -6px 14px #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 1s;
    &:hover{
        transform: scale(1.1);
    }
    i{
        font-size: 1.5rem;
        color: map-get($color, dark);
        margin-right: 8px;
    }
    p{
        color: map-get($color, dark);
        font-size: map-get($size, normal);
        font-weight: map-get( $weight , 500 );
        margin: 0;
        padding: 0;
    }
}