.navbar{
    height: auto;
    padding: 20px 10px;
    &-brand{
        img{
            height: 70px;
        }
    }
}
.nav-item{
    margin: 0 10px;
}
.nav-item #ingresar{
    padding: 10px 20px;
    background-color: map-get($color, segundo);
    color: map-get( $color, light );
    border-radius: 0px;
}

// navbar Mobile

.contenido .navbar{
    background-color: map-get($color, blanco);
    height: 80px;
    padding: 0 5%;
    margin-bottom: 30px;
    i{
        padding-top: 7px;
        font-size: 23px;
    }
}