.tarea__lista{
    width: 100%;
    padding: 0;
}
.tarea__estado--valor{
    height: 1.5rem;
    width: 125px;
    text-align: center;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tarea__estado--terminado{
    background-color: map-get($color, quinto);
    color: map-get($color, blanco);
}
.tarea__estado--proceso{
    background-color: map-get($color, sexto);
    color: map-get($color, blanco);
}
.tarea__estado--hacer{
    background-color: map-get($color, segundo);
    color: map-get($color, blanco);
}
.tarea__prioridad--valor{
    @extend .tarea__estado--valor;
}
.tarea__prioridad--alto{
    background-color: map-get($color, cuarto);
    color: map-get($color, blanco);
}
.tarea__prioridad--medio{
    background-color: map-get($color, tercero);
    color: map-get($color, blanco);
}
.tarea__prioridad--bajo{
    background-color: map-get($color, primero);
    color: map-get($color, blanco);
}
.tarea__item{
    position: relative;
    margin: 10px auto;
    width: 87%;
    height: 10rem;
    padding: 4%;
    background-color: map-get($color, blanco);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 8%;
    grid-template-areas:    "estado        opciones "
                            "nombre        nombre   "
                            "fecha         fecha    "
                            "colaboradores prioridad";
    align-items: center;
    box-shadow:  6px 6px 14px #e7e9ed,
                -6px -6px 14px #ffffff;
    &::before{
        content: ' ';
        position: absolute;
        left: 0;
        top: 0;
        height: 10rem;
        width: 7px;
        background-color: map-get($color, primero);
        border-radius: 10px 0 0 10px;
    }
}
.tarea__colaboradores--valor{
    display: flex;
    align-items: center;
    justify-content: start;
    div{
        position: relative;
        width: 25px;
        height: 25px;
        background-color: map-get($color, blanco);
        box-shadow: -5px 5px 12px #999999,
        5px -5px 12px #ffffff;
        border-radius: 50px;
        margin-left: 5px;
        img{
            width: 25px;
            height: 25px;
            border-radius: 50px;
        }
    }
    div:nth-child(0n+2){
        left: -17px;
    }
    div:nth-child(0n+3){
        left: -35px;
    }
    div:nth-child(0n+4){
        left: -52px;
    }
    div:nth-child(0n+5){
        left: -47px;
    }
}

.tarea__estado{
    grid-area: estado;
}
.tarea__opciones{
    grid-area: opciones;
    justify-self: right;
}
.tarea__nombre{
    grid-area: nombre;
    font-weight: map-get($weight, 500);
}
.tarea__fecha{
    grid-area: fecha;
    font-size: map-get($size, sm);
}
.tarea__colaboradores{
    grid-area: colaboradores;
}
.tarea__prioridad{
    grid-area: prioridad;
    justify-self: right;
}
.bx-x-circle{
    position: absolute;
    font-size: 2rem;
    color: red;
    width: auto;
    top: 2%;
    right: 2.5%;
    cursor: pointer;
}
.bx-edit:hover{
    color: map-get($color, primero);
}
.bx-trash-alt:hover{
    color: map-get($color, cuarto);
}


// Display Grid encabezado tareas  20% 20% 15% 15% 20% 10%;

.tareas__categorias{
    width: 100%;
    padding: 0 2%;
    color: map-get($color, dark);
    display: none;
    align-items: center;
    > * {
    text-align: center;
    font-size: map-get($size, sm);
    color: map-get($color, dark )
    }
    .tarea__nombre--encabezado{
        width: 20%;
    }
    .tarea__estado--encabezado{
        width: 20%;
    }
    .tarea__colaboradores--encabezado{
        width: 15%;
    }
    .tarea__fecha--encabezado{
        width: 15%;
    }
    .tarea__prioridad--encabezado{
        width: 20%;
    }
    .tarea__opciones--encabezado{
        width: 10%;
    }
}
.tarea__interlineado{
    display: none;
    content: "";
    margin: 10px auto 20px;
    width: 93%;
    height: 0.2px;
    background-color: #38374f17;
}
